header {
	width:100%;
	height:.40rem;
	/*background: pink;*/
	font-size: .17rem;
	line-height:.40rem;
	text-align: center;
	border-bottom:0.02rem solid #f5f5f5;
	.c_span{
		position:absolute;
		right:.15rem;
		font-size: .14rem;
		color:#999;
	}
}
.carbox{
	img{
		width:3rem;
		height:.50rem;
		margin-top: 1.2rem;
		margin-left: .36rem;
		margin-bottom: .2rem;
	}
	.c_w_p{
		margin-left:.8rem;
		font-size: .15rem;
		font-family: '微软雅黑';
		color:#000;
	}
	

/*有商品的样式*/
.c-ul{
	>li{
		height:100%;
	}
.L{
	float:left;
	.c_dan{
		margin-top: .05rem;
	}
}
.C{
	float:left;
}
.R{
	float:left;
}
}


}
