@import "../fragment/yo-header";
.m-home {
  word-wrap:break-word;
  width: 100%;
  .header-a{
    @include flexbox();
    @include justify-content(space-around);
    position: fixed;
    left: 0;
    top:0rem;
    width: 100%;
    height: 0.5rem;
    background: rgba(10,153,212,0);
    z-index: 1000;
    .title{
      position: relative;
      float: left;
      line-height:0.5rem;
      .search {
        border: 0;
        width: 2.3rem;
        height: 0.3rem;
        border-radius: 0.1rem;
        color: #7f7f7f;
        padding: 0.1rem 0.1rem 0.1rem 0.36rem;
        font-size: 0.15rem
      }
      .fdj{
        position: absolute;
        left: 0.14rem;
        top: 0rem;
        color: #7f7f7f
      }
    }
    .regret {
      float: left;
      width: 0.62rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      color: #fff;
      font-size: 0.1rem
    }
    .affirm {
      width: 0.62rem;
      height: 100%;
      float: left;
      padding: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      color: #fff;
      font-size: 0.1rem
    }
    b{
      font-size: 0.2rem
    }
  }
  .mint-swipe {
    height: 2rem;
    img {
      width: 100%;
    }
  }
  .nav_list {
    width: 100%;
    height: 2.23rem;
    margin-bottom:0.03rem;
    ul {
      @include flexbox();
      @include flex-wrap(wrap);
      height: 100%;
      width:100%;
      background:#fff;
      li {
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      width: 25%;
      height: 50%;
      span img{
        width:0.6rem;
        height:0.6rem
      }
      strong {
        color:#353535;
        font-size:0.14rem;
      }
      }
    }
  }
  .mxtop {
    @include flexbox();
    @include justify-content(space-around);
    @include align-items(center);
    width:100%;
    height:0.75rem;
    background:#fff;
    margin-bottom:0.03rem;
    padding:0 0.12rem;
    .mxTop_ico {
      width :1.38rem;
      height:0.30rem;
      float:left;
      img{
        width:100%;
        height:100%;
      }
    }
    .laba {
      width:0.35rem;
      height:0.30rem;
      background:url('/static/images/laba.jpg') no-repeat center;
      background-size:80%
    }
    .txtLunbo {
        position: relative;
        width:2.31rem;
        height:0.30rem;
        left:0;
        top:0;
        overflow:hidden;
        ul{
          width:100%;
          position: absolute;
          height:0.30rem;
          left:0;
          top:0;
          animation: 3s move infinite linear;
        li {
          width:1.8rem;
          line-height:0.3rem;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
      }
      @keyframes move{0%{top:0}100%{top:-1.2rem}}
    }
  }
  .hd {
    width :100%;
    ul {
      width :100%;
      li {
        height:1.65rem;
        margin-bottom:0.03rem;
        background:#fff;
        .img_con{
          float:left;
          position:relative;
          left:0;
          top:0;
          img {
            width :1.65rem;
            height:1.65rem;
          }
          .act_label{
            position:absolute;
            left:0;
            top:0;
            img {
              width :0.5rem;
              height:0.5rem;
            }
          }
        }
        .hd_right {
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(space-around);
          @include align-items(flex-end);
          width:1.5rem;
          height:100%;
          float:right;
          padding-right:0.125rem;
          i {
            width :1.5rem;
            font-size:0.17rem;
            color:#1c1c1c;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            text-align:right;
          }
          b,p {
            font-weight:normal;
            color:#939393;
            font-size:0.12rem;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          button {
            width:1.25rem;
            height:0.42rem;
            border:0;
            background:#009eda;
            color:#fff;
            font-size:0.17rem;
          }
         }
      }
    }

  }
}
