@import "../fragment/yo-header";
@import "../fragment/yo-tab";
@include yo-header(
  $name:back,
  $height: 0.5rem,
  $bgcolor: #ffffff,
  $item-ico-color: #d6d6d6,
  $border-width: 0,
  $color: #353535,
  $font-size: .17rem,
  $item-font-size: .21rem
){
    h2{
        font-weight: 100;
    }
}
@include yo-tab(
  $name:login,
  $border-width:0,
  $bgcolor:#fff
  
){
    
}
.m-login{
    h2{
        font-size: 0.8rem;
        text-align: center;
        padding-top: 0.34rem;
        line-height: 0.4rem;
        color: #54440b;
    }
    .navtab{
      &>li{
        float: left;
      }
    }
}
