@import "../element/yo-badge"; 

.box {
  @include yo-header(
    $name: a,
    $bgcolor: #fff,
    $item-ico-color: #000,
    $border-width: 0,
    $color: #000,
    $font-size: .18rem
  )
  .yo-header {
    margin-bottom:.06rem;
  }
}